<a href="https://colab.research.google.com/github/nithu2109/Data-Analyst-Training/blob/main/Pandas/Data_Exploration_With_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
df=pd.read_csv('salaries_by_college_major.csv')

***Reading The csv file***

In [8]:
df

                     Undergraduate Major  ...     Group
0                             Accounting  ...  Business
1                  Aerospace Engineering  ...      STEM
2                            Agriculture  ...  Business
3                           Anthropology  ...      HASS
4                           Architecture  ...  Business
5                            Art History  ...      HASS
6                                Biology  ...      STEM
7                    Business Management  ...  Business
8                   Chemical Engineering  ...      STEM
9                              Chemistry  ...      STEM
10                     Civil Engineering  ...      STEM
11                        Communications  ...      HASS
12                  Computer Engineering  ...      STEM
13                      Computer Science  ...      STEM
14                          Construction  ...  Business
15                      Criminal Justice  ...      HASS
16                                 Drama  ...      HASS
17                             Economics  ...  Business
18                             Education  ...      HASS
19                Electrical Engineering  ...      STEM
20                               English  ...      HASS
21                                  Film  ...      HASS
22                               Finance  ...  Business
23                              Forestry  ...  Business
24                             Geography  ...      HASS
25                               Geology  ...      STEM
26                        Graphic Design  ...      HASS
27            Health Care Administration  ...  Business
28                               History  ...      HASS
29                 Hospitality & Tourism  ...  Business
30                Industrial Engineering  ...      STEM
31           Information Technology (IT)  ...      STEM
32                       Interior Design  ...      HASS
33               International Relations  ...      HASS
34                            Journalism  ...      HASS
35  Management Information Systems (MIS)  ...      STEM
36                             Marketing  ...  Business
37                                  Math  ...      STEM
38                Mechanical Engineering  ...      STEM
39                                 Music  ...      HASS
40                               Nursing  ...  Business
41                             Nutrition  ...      HASS
42                            Philosophy  ...      HASS
43                   Physician Assistant  ...      STEM
44                               Physics  ...      STEM
45                     Political Science  ...      HASS
46                            Psychology  ...      HASS
47                              Religion  ...      HASS
48                             Sociology  ...      HASS
49                               Spanish  ...      HASS
50                 Source: PayScale Inc.  ...       NaN

[51 rows x 6 columns]

In [ ]:
#for viewing first five rows of our dataframe
df.head()

     Undergraduate Major  ...     Group
0             Accounting  ...  Business
1  Aerospace Engineering  ...      STEM
2            Agriculture  ...  Business
3           Anthropology  ...      HASS
4           Architecture  ...  Business

[5 rows x 6 columns]

In [9]:
#To see the number of rows and columns we can use the shape attribute:
df.shape

(51, 6)

In [10]:
#We can access the column names directly with the columns attribute.
df.columns

Index(['Undergraduate Major', 'Starting Median Salary',
       'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary',
       'Mid-Career 90th Percentile Salary', 'Group'],
      dtype='object')

Cleaning by Removing Junk Data

In [11]:
#NAN values are blank cells or cells that contain strings instead of numbers. 
#Use the .isna() method and see if you can spot if there's a problem somewhere.
df.isna()

    Undergraduate Major  ...  Group
0                 False  ...  False
1                 False  ...  False
2                 False  ...  False
3                 False  ...  False
4                 False  ...  False
5                 False  ...  False
6                 False  ...  False
7                 False  ...  False
8                 False  ...  False
9                 False  ...  False
10                False  ...  False
11                False  ...  False
12                False  ...  False
13                False  ...  False
14                False  ...  False
15                False  ...  False
16                False  ...  False
17                False  ...  False
18                False  ...  False
19                False  ...  False
20                False  ...  False
21                False  ...  False
22                False  ...  False
23                False  ...  False
24                False  ...  False
25                False  ...  False
26                False  ...  False
27                False  ...  False
28                False  ...  False
29                False  ...  False
30                False  ...  False
31                False  ...  False
32                False  ...  False
33                False  ...  False
34                False  ...  False
35                False  ...  False
36                False  ...  False
37                False  ...  False
38                False  ...  False
39                False  ...  False
40                False  ...  False
41                False  ...  False
42                False  ...  False
43                False  ...  False
44                False  ...  False
45                False  ...  False
46                False  ...  False
47                False  ...  False
48                False  ...  False
49                False  ...  False
50                False  ...   True

[51 rows x 6 columns]

In [14]:
df.tail()

      Undergraduate Major  ...  Group
46             Psychology  ...   HASS
47               Religion  ...   HASS
48              Sociology  ...   HASS
49                Spanish  ...   HASS
50  Source: PayScale Inc.  ...    NaN

[5 rows x 6 columns]

In [15]:
#we need to delete last row as it is having nan
#for deleting use .dropna()method
new_df=df.dropna()

In [16]:
new_df.tail()

   Undergraduate Major  ...  Group
45   Political Science  ...   HASS
46          Psychology  ...   HASS
47            Religion  ...   HASS
48           Sociology  ...   HASS
49             Spanish  ...   HASS

[5 rows x 6 columns]

***Accessing Columns and Individual Cells in a Dataframe***

In [17]:
#accessing a particular column
new_df['Starting Median Salary']

0     46000.0
1     57700.0
2     42600.0
3     36800.0
4     41600.0
5     35800.0
6     38800.0
7     43000.0
8     63200.0
9     42600.0
10    53900.0
11    38100.0
12    61400.0
13    55900.0
14    53700.0
15    35000.0
16    35900.0
17    50100.0
18    34900.0
19    60900.0
20    38000.0
21    37900.0
22    47900.0
23    39100.0
24    41200.0
25    43500.0
26    35700.0
27    38800.0
28    39200.0
29    37800.0
30    57700.0
31    49100.0
32    36100.0
33    40900.0
34    35600.0
35    49200.0
36    40800.0
37    45400.0
38    57900.0
39    35900.0
40    54200.0
41    39900.0
42    39900.0
43    74300.0
44    50300.0
45    40800.0
46    35900.0
47    34100.0
48    36500.0
49    34000.0
Name: Starting Median Salary, dtype: float64

In [18]:
#To find the highest starting salary we can simply chain the .max() method.
new_df["Starting Median Salary"].max()

74300.0

In [19]:
#the .idxmax() method will give us index for the row with the largest value.
new_df['Starting Median Salary'].idxmax()

43

In [20]:
new_df['Undergraduate Major'][43]

'Physician Assistant'

In [21]:
#to see the name of the major that corresponds to that particular row, we can use the .loc (location) property.
new_df['Undergraduate Major'].loc[43]

'Physician Assistant'

In [22]:
#even for retrieving an entire row we can use .loc()
new_df.loc[43]

Undergraduate Major                  Physician Assistant
Starting Median Salary                             74300
Mid-Career Median Salary                           91700
Mid-Career 10th Percentile Salary                  66400
Mid-Career 90th Percentile Salary                 124000
Group                                               STEM
Name: 43, dtype: object

***Challenge***

In [30]:
#1
new_df['Mid-Career Median Salary'].max()

107000.0

In [32]:
print(f"Index for max mid career salary :{new_df['Mid-Career Median Salary'].idxmax()}")

Index for max mid career salary :8

In [34]:
new_df['Undergraduate Major'][8]

'Chemical Engineering'

In [24]:
#2.1
new_df['Starting Median Salary'].min()

34000.0

In [25]:
#2.2
new_df['Starting Median Salary'].idxmin()

49

In [38]:
new_df["Undergraduate Major"].loc[49]

'Spanish'

In [26]:
#3.1
new_df["Mid-Career 10th Percentile Salary"].min()

26700.0

In [ ]:
new_df['Mid-Career 10th Percentile Salary'].idxmin()

39

In [27]:
#3.2
new_df['Starting Median Salary'][39]

35900.0

In [36]:
new_df.loc[39]

Undergraduate Major                   Music
Starting Median Salary                35900
Mid-Career Median Salary              55000
Mid-Career 10th Percentile Salary     26700
Mid-Career 90th Percentile Salary    134000
Group                                  HASS
Name: 39, dtype: object

------------------------Challenge Completed-----------------------------

**Sorting Values & Adding Columns**: Majors with the Most Potential vs Lowest Risk

In [39]:
new_df['Mid-Career 90th Percentile Salary'] - new_df['Mid-Career 10th Percentile Salary']

0     109800.0
1      96700.0
2     113700.0
3     104200.0
4      85400.0
5      96200.0
6      98100.0
7     108200.0
8     122100.0
9     102700.0
10     84600.0
11    105500.0
12     95900.0
13     98000.0
14    114700.0
15     74800.0
16    116300.0
17    159400.0
18     72700.0
19     98700.0
20     99600.0
21    102100.0
22    147800.0
23     70000.0
24     92000.0
25    111000.0
26     76000.0
27     66400.0
28    112000.0
29     88500.0
30    115900.0
31     84500.0
32     71300.0
33    118800.0
34    106600.0
35    100700.0
36    132900.0
37    137800.0
38     99300.0
39    107300.0
40     50700.0
41     65300.0
42    132500.0
43     57600.0
44    122000.0
45    126800.0
46     95400.0
47     66700.0
48     87300.0
49     65400.0
dtype: float64

In [41]:
new_df['Mid-Career 90th Percentile Salary'].subtract(new_df['Mid-Career 10th Percentile Salary'])

0     109800.0
1      96700.0
2     113700.0
3     104200.0
4      85400.0
5      96200.0
6      98100.0
7     108200.0
8     122100.0
9     102700.0
10     84600.0
11    105500.0
12     95900.0
13     98000.0
14    114700.0
15     74800.0
16    116300.0
17    159400.0
18     72700.0
19     98700.0
20     99600.0
21    102100.0
22    147800.0
23     70000.0
24     92000.0
25    111000.0
26     76000.0
27     66400.0
28    112000.0
29     88500.0
30    115900.0
31     84500.0
32     71300.0
33    118800.0
34    106600.0
35    100700.0
36    132900.0
37    137800.0
38     99300.0
39    107300.0
40     50700.0
41     65300.0
42    132500.0
43     57600.0
44    122000.0
45    126800.0
46     95400.0
47     66700.0
48     87300.0
49     65400.0
dtype: float64

The output of this computation will be another Pandas dataframe column. We can add this to our existing dataframe with the .insert() method:

In [42]:
new_col=new_df['Mid-Career 90th Percentile Salary'] - new_df['Mid-Career 10th Percentile Salary']
new_df.insert(1, 'Spread', new_col)#parameter 1 will insert new column at second position
new_df.head()

     Undergraduate Major    Spread  ...  Mid-Career 90th Percentile Salary     Group
0             Accounting  109800.0  ...                           152000.0  Business
1  Aerospace Engineering   96700.0  ...                           161000.0      STEM
2            Agriculture  113700.0  ...                           150000.0  Business
3           Anthropology  104200.0  ...                           138000.0      HASS
4           Architecture   85400.0  ...                           136000.0  Business

[5 rows x 7 columns]

In [44]:
low_risk = new_df.sort_values('Spread')
low_risk[['Undergraduate Major', 'Spread']].head()

           Undergraduate Major   Spread
40                     Nursing  50700.0
43         Physician Assistant  57600.0
41                   Nutrition  65300.0
49                     Spanish  65400.0
27  Health Care Administration  66400.0

**Challenge**